Source: net-cpp
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               doxygen,
               google-mock,
               graphviz,
               libboost-dev (>= 1.58) | libboost1.58-dev,
               libboost-serialization-dev (>= 1.58) | libboost-serialization1.58-dev,
               libboost-system-dev (>= 1.58) | libboost-system1.58-dev,
               libcurl4-openssl-dev,
               libjsoncpp-dev,
               libprocess-cpp-dev (>= 2.0.0),
               lsb-release,
               pkg-config,
               python-decorator,
               python-flask,
               python-flask-script,
               python-simplejson,
Standards-Version: 3.9.5
Section: libs
Homepage: https://launchpad.net/net-cpp
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead. ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/net-cpp/trunk
Vcs-Browser: https://bazaar.launchpad.net/~phablet-team/net-cpp/trunk/files

Package: libnet-cpp2
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: C++11 library for networking purposes - runtime library
 Net-Cpp is a simple and straightforward networking library for C++11.
 .
 This package includes the net-cpp runtime libraries.

Package: libnet-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: libnet-cpp2 (= ${binary:Version}),
         ${misc:Depends},
Description: C++11 library for networking purposes - runtime library
 Net-Cpp is a simple and straightforward networking library for C++11.
 .
 This package includes all the development headers and libraries for
 net-cpp.

Package: libnet-cpp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Suggests: libnet-cpp-dev,
Description: Documentation files for libnet-cpp-dev
 Net-Cpp is a simple and straightforward networking library for C++11.
 .
 This package includes documentation files for libnet-cpp development.
