#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

include /usr/share/dpkg/default.mk

SERIES ?= $(shell lsb_release -c -s)

ifeq ($(SERIES),vivid)
    soversion=$(shell cat $(CURDIR)/debian/VERSION.vivid)
else
    soversion=$(shell cat $(CURDIR)/debian/VERSION)
endif
 
# The home directory of user buildd does not exist on the builders
export XDG_DATA_HOME=/tmp

%:
	dh $@ --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DNET_CPP_SOVERSION=$(soversion)
 
override_dh_auto_clean:
	/bin/sh $(CURDIR)/debian/bileto_pre_release_hook
	dh_auto_clean
